body{
	background-color: #181719;
}

/*container*/
div.container{
	margin-top: 150px;
	margin-bottom: 200px; 
	margin-left: 50px;
}

/*left content title*/
h1.title, h5{
	color: white;
}

/*left content description*/
p.description{
	color: white;
	font-size: 1.8vw;
	font-weight: lighter;
}

a.navbar-brand{
	border: 1px solid white;
	padding: 6px;
	margin-left: 50px; 
}

.navbar-nav li{
	padding-left: 80px;
}

nav.navbar{
	height: 80px;
}

nav.bg-style{
	background-color: #181719;
}


/*Right Content*/
div.right-content img{
	max-width: 100%;
	height: auto;
}

/*card*/
div.card{
	background-color: #181719;
	margin-top: -80px;
	float: right;
	margin-right: 30px; 
	width: 60%;
	border-radius: 0;
}

/*card body*/
div.card-body{
	margin-top: -20px;
}

/*card image*/
img#card-img{
	width: 50px;
	height: 50px;
	margin-left:5px;
	margin-right: -20px; 
}

ul{
	list-style-type: none;
	
} 
ul li {
	display: inline;
	/*margin-top: 0;*/
	line-height: 0px;
}
ul li p{
	font-weight: 200;
	opacity: 0.5;
}

@media(max-width: 1000px){
	.navbar-nav li{
		text-align: center;
		margin: 20px;
		padding-left: 0;
	}

	nav.navbar{
		height: 100%;
	}
	
	/*brand logo*/
	a.navbar-brand{
		margin: 0;
		font-size: medium;
	}

	.navbar-nav{
		margin-top: 120px; 
		height: 340px;
	}

	p.description{
		font-size: large;
	}

	/*container*/
	div.container{
		margin-top: 40px;
		margin-left: 0;
	}
	
	/*Right Content*/
	div.right-content img{
		margin-top: 20px;	
	}
	
	/*card*/
	div.card{
		width: 80%;
		margin-right: 20px;
		/*box-shadow: 5px 5px 5px 5px black;*/
	}
}
